<% layout('/layouts/boilerplate') %>

 <main class="d-flex flex-column mt-5 mx-5 align-items-center">
  <div>
   <img src="<%= image.url.url %>" class="img-fluid" style="height: 80vh; object-fit: contain;" alt="Responsive image">
  </div>

  <div class="card my-5">
   <div class="card-body" style="min-width: 350px;">
    <div>
     <h1>Description</h1>
     <%= image.description %>
    </div>
    <div class="mt-5 d-flex justify-content-between">
     <div class="d-flex">
      <form id="deleteForm" action="/gallery/<%= image._id %>?_method=DELETE" method="POST">
       <button id="deleteButton" class="btn btn-danger">Delete</button>
      </form>
      <a href="/gallery/<%= image._id %>/edit" class="mx-2">
       <button class="btn btn-primary">Edit</button>
      </a>
     </div>
     <b>
      <p>Date: <%= image.date %>
      </p>
     </b>
    </div>
   </div>
  </div>
 </main>

 <script>
  document.getElementById('deleteButton').addEventListener('click', function (e) {
   e.preventDefault();
   if (confirm("Are you sure you want to delete this image?")) {
    document.getElementById('deleteForm').submit();
   }
  });
 </script>